* {
	box-sizing: border-box;
}
.navbar-brand {
	height: auto;
}
.navbar-brand h1 {
	color: black;
}
.navbar-brand h1:hover {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.navbar, article {
	background-color: #aaa;
	margin:0;
}
.navbar {
	margin: 0;
}
#nav-list a {
	padding: 0;
}
@media (max-width: 767px){
	#collapsabale-nav {
		background-color: #eee;
	}
}